.cover__link {
  position: relative;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media (min-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (min-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}
