.lead__title {
  margin-block-start: 0em;
  margin-block-end: 0em;
	margin: 0 auto;
	min-width: 288px;
  max-width: 720px;
  padding: 0 16px;
	font-size: 40px;
	line-height: 1.1;
	font-weight: 900;
  color: white;
	text-align: center;
}

@media (min-width: 768px) {
	.lead__title {
		font-size: 96px;
    line-height: 1.04;
	}
}

@media (min-width: 1024px) {

}
